{% extends 'base.html' %}

{% block content %}
<div class="main-container">
    <h1 class="page-title">Cadastrar Colaborador</h1>
    
   

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {% for field in form %}
            <div class="form-field">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}
        </div>
         {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div id="msg-alert-{{ forloop.counter }}" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            {% endfor %}
        </ul>
    {% endif %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'colaboradores_lista' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const messageElements = document.querySelectorAll('[id^="msg-alert-"]');
        messageElements.forEach(element => {
            setTimeout(function() {
                element.style.display = "none";
            }, 5000);
        });
    });
</script>
{% endblock %}