{% extends 'base.html' %}

{% block content %}
<div class="main-container">
  <h1>Lista de Empréstimos</h1>
  
  
  <table class="data-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Data Emprestimo</th>
        <th>Data Devolução</th>
        <th>Status</th>
        <th>Usuario</th>
        <th>Colaborador</th>
      </tr>
    </thead>
    <tbody>
      {% for emprestimo in emprestimos %}
      <tr>
        <td>{{ emprestimo.id }}</td>
        <td>{{ emprestimo.data_emprestimo }}</td>
        <td>{{ emprestimo.data_devolucao }}</td>
        <td>{{ emprestimo.status.nome }}</td>
        <td>{{ emprestimo.usuario.nome }}</td>
        <td>{{ emprestimo.colaborador.nome }}</td>
        <td class="table-actions">
          <a href="{% url 'emprestimos_editar' pk=emprestimo.pk %}" class="edit-btn">Editar</a>
          <a href="{% url 'emprestimos_excluir' pk=emprestimo.pk %}" class="delete-btn">Excluir</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">Nenhum Empréstimo cadastrado.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}