{% extends 'base.html' %}

{% block content %}
<div class="main-container">
  <h1 class="page-title">Lista de Equipamentos</h1>

    <form method="get" action="{% url 'equipamentos_lista' %}" class="search-form">
        <div class="input-group">
            <input type="text" name="q" placeholder="Buscar..." class="form-control search-input" value="{{ query|default:'' }}">
            <button type="submit" class="btn btn-primary search-btn">
                <i class='bx bx-search'></i> Buscar
            </button>
        </div>
    </form>
  
  <table class="data-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Quant_disponivel</th>
        <th>Validade</th>
        <th>status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for equipamento in equipamentos %}
      <tr>
        <td>{{ equipamento.id }}</td>
        <td>{{ equipamento.nome }}</td>
        <td>{{ equipamento.quantidade_disponivel }}</td>
        <td>{{ equipamento.validade }}</td>
        <td>{{ equipamento.status.nome }}</td>
        <td class="table-actions">
          <a href="{% url 'equipamentos_editar' pk=equipamento.pk %}" class="edit-btn">Editar</a>
          <a href="{% url 'equipamentos_excluir' pk=equipamento.pk %}" class="delete-btn">Excluir</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">Nenhum Equipamento cadastrado.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}